:root {
    --primary: #d13268;
    --primary-dark: #9a003e;
    --primary-light: #ff6996;
    --primary-contrast: #fff;
    --primary-rgb: 209, 50, 104;
}

@keyframes ripple {
    0% {
        width: 0;
        height: 0;
        opacity: 0.5;
    }

    100% {
        width: 500px;
        height: 500px;
        opacity: 0;
    }
}

html {
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    margin: 0;
    background-image: url('./images/background.jpg');
    background-size: cover;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(39, 39, 39);
}

.overlay {
    position: absolute;
    inset: 0;
    background: rgba(17, 17, 17, 0.7);
}

.container {
    position: relative;
    padding-left: 1rem;
    padding-right: 1rem;
    width: 100%;
    max-width: 600px;
}

main {
    background: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0px 8px 17px 2px rgba(0, 0, 0, 0.14), 0px 3px 14px 2px rgba(0, 0, 0, 0.12), 0px 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.quote {
    margin-bottom: 0.5rem;
}

.quote::after {
    display: block;
    clear: both;
    content: "";
}

.quote-icon {
    --quote-icon-size: 44px;
    width: var(--quote-icon-size);
    height: var(--quote-icon-size);
    margin-right: 1rem;
    float: left;
    color: white;
}

.quote-text {
    font-size: 1.875rem;
}

.author {
    margin-bottom: 1.5rem;
    display: flex;
    justify-content: flex-end;
}

.author-name {
    font-size: 1.5rem;
    font-style: italic;
}

.actions {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.twitter-icon {
    transition: color 0.5s;
    pointer-events: none;
}

.twitter-button:hover .twitter-icon {
    color: #38a1f3;
}

button {
    --main: var(--primary);
    --main-dark: var(--primary-dark);
    --contrast: var(--primary-contrast);
    --main-rgb: var(--primary-rgb);
    --rounded: 8px;
    --bg-color: var(--main);
    --color: var(--contrast);
    --border-color: transparent;
    outline: none;
    border: 0px solid var(--border-color);
    border-radius: var(--rounded);
    background-color: var(--bg-color);
    color: var(--color);
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    font-size: 0.75rem;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    padding: calc(0.5rem + 1px) calc(0.75rem + 1px);
    cursor: pointer;
    transition: background 0.5s, border 0.5s;
}

button:hover {
    --bg-color: var(--main-dark);
    --border-color: var(--main-dark);
}

.ripple {
    --ripple-color: rgba(255, 255, 255, 0.5);
    background-color: var(--ripple-color);
    border-radius: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    pointer-events: none;
    animation: ripple 1s linear infinite;
}